{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
 
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>
  
  <script  type="text/javascript" src="/public/javascripts/Chart.js"></script>
  
  
 

  
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_blank}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}


<div id="global-header-bar">
  <div class="inner-block">
    <div class="header-bar"></div>
  </div>
</div>
	
	
<main id="wrapper" role="main">
  <div id="content">
    <div class="inner-block">
		
		
		
	<article>
	
	
	<h1 class="heading-36">
	<img src="/public/images/cc-logo-50x50.png" height="48px" width="48px" align="top" style="margin-top:-5px;margin-right:10px"> Set up a Dart Charge account
	</h1>


	<div class="grid grid-2-3" style="margin-right:1.5em">

	<h2 class="heading-24">Choose an account type</h2>

	<form action="get" class="form">

	<fieldset>
		  <p></p>
		  <p></p>
          <label for="radio-inline-1" class="block-label">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Local">
            Local
          </label>
          <label for="radio-inline-2" class="block-label">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Personal">
            Personal
          </label>
          <label for="radio-inline-3" class="block-label">
            <input id="radio-inline-3" type="radio" name="radio-inline-group" value="Company">
            Company
          </label>
	</fieldset>



	<fieldset>
		<div class="form-group" style="padding-top:1.5em">
		<a href="transfer-5" class="button">Next</a>
		<!-- <input type="submit" class="button" value="Confirm"> -->
		</div>

	</fieldset>

	</form>


	</div>


	<div>

	<h2 class="heading-19">More about Dart Charge accounts</h2>

	<ul style="line-height:1.6">
	<li><a href="#">Local accounts</a></li>
	<li><a href="#">Personal accounts</a></li>
		<li><a href="#">Company accounts</a></li>

	<li><a href="#">How to pay</a></li>

	<li><a href="#">If you have a Dart-Tag account</a></li>
	</ul>

	</div>


		


	</article>




    </div>
  </div>
</main>
{{/content}}

{{/govuk_template}}
