{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
 
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>
  
  <script  type="text/javascript" src="/public/javascripts/Chart.js"></script>
  
  
 

  
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_blank}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}


<div id="global-header-bar">
  <div class="inner-block">
    <div class="header-bar"></div>
  </div>
</div>
	
	
<main id="wrapper" role="main">
  <div id="content">
    <div class="inner-block">
		
		
		
	<article>
	
	
	<h1 class="heading-48">
	<img src="/public/images/cc-logo-50x50.png" height="48px" width="48px" align="top" style="margin-bottom:5px"> Pay the Dart Charge</h1>
	</h1>


	<div class="grid grid-2-3" style="margin-right:1.5em">

	<p>You must pay to cross the Dartford Crossing using one of the following methods, you will not be able to pay in person. Use this service to pay for crossings individually, in advance as you go bulk by setting up an account.</p>


	<a href="#" class="gbutton gbutton-get-started">Pay now</a>

	<p>Payment for crossing will be accepted after October 2014 when barriers are removed</p>

	<p><a href="dart-account-1">Set up an account now</a><br>
	You can set up an account before the new service is operational.</p>

	<p><a href="https://test.dart-charge.co.uk/Security/SignIn">Manage an existing account</a><br>
	You can add funds, add or remove vehicles and change your details.</p>

	</div>



	<div>

	<h2 class="heading-19">More about the Dart Charge</h2>

	<ul style="line-height:1.6">
	<li><a href="#">How much does it cost?</a></li>
	<li><a href="#">How do I pay?</a></li>
		<li><a href="#">Different types of accounts</a></li>

	<li><a href="#">Exemptions</a></li>

	<li><a href="#">If you have a Dart-Tag account</a></li>
	<li><a href="#">Penalties</a></li>
	</ul>

	</div>

		


	</article>




    </div>
  </div>
</main>
{{/content}}

{{/govuk_template}}
