{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <header class="page-header">
    <h1>Welcome to the GOV.UK prototyping kit</h1>
  </header>

  <h2>Paul's prototypes</h2>

  <ul>


	  <li>Made a rough demo of a mobile-first single column <a href="transfer-start">'Transfer a vehicle into the motor trade'</a> (VM - Dispose)</li>
	  <li>Made a demo of Drivers Medical, 'Vision V1 Form'</li>
	  <li>Made an initital demo of <a href="vehicle-enquiry-result+mot-full">'View a vehicle record + MOT history'</a> single page</li>
	  <li>Started making a rough demo of <a href="vmretain-start">'Take a registration number off a vehicle'</a> (VM - Retain)</li>
    <li>Made a prototype of a couple of steps into the Dart Charge pages - <a href="dart-start-1">Start page</a> - <a href="dart-account-1">Set up an account</a> choose page - <a href="dart-account-1-1">Local account</a></li>
  </ul>


</main>
{{/content}}

{{/layout}}
