<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Mileage'],
          ['2002',  90567],
          ['2003',  109254],
		  ['2004',  119254],
		  ['2005',  157422],
		  ['2006',  169570],
		  ['2007',  176480],
		  ['2008',  178128],
		  ['2009',  180007],
		  ['2010',  181178],
		  ['2011',  183018],
		  ['2012',  186307],
		  ['2013',  186318],
		  ['2014',  186828],
        ]);

        var options = {
	        title: 'Recorded mileage',
		    legend: { position: 'bottom' },
			font
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 960px; height: 300px;"></div>
  




<ul class="ul-data">
	<li><span>Date of test</span><strong>25/02/2014</strong></li>
	Certificate issued (Pass)

	<li><span>Odometer reading</span><strong>186,828 Miles</strong></li>
	<li><span>Test number</span><strong>149946854486</strong></li>
	<li><span>Test expiry date</span><strong>24/02/2015</strong></li>



	<h2 class="heading-19">Full Test History</h2>


<ul class="ul-data">
	<li><span>Date of test</span><strong>25/02/2014</strong></li>
	Certificate issued (Pass)

	<li><span>Odometer reading</span><strong>186,828 Miles</strong></li>
	<li><span>Test number</span><strong>149946854486</strong></li>
	<li><span>Test expiry date</span><strong>24/02/2015</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>09/01/2013</strong></li>
	Certificate issued (Pass)

	<li><span>Odometer reading</span><strong>186,318 Miles</strong></li>
	<li><span>Test number</span><strong>468429703070</strong></li>
	<li><span>Test expiry date</span><strong>08/01/2014</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>14/12/2012</strong></li>
	Certificate issue refused (Fail)

	<li><span>Odometer reading</span><strong>186,307 Miles</strong></li>
	<li><span>Test number</span><strong>336679742344</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>05/12/2011</strong></li>
	Certificate issued (Pass)

	<li><span>Odometer reading</span><strong>183,018 Miles</strong></li>
	<li><span>Test number</span><strong>498069231321</strong></li>
	<li><span>Test expiry date</span><strong>04/12/2012</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>02/12/2010</strong></li>
	Certificate issued (Pass)

	<li><span>Odometer reading</span><strong>181,178 Miles</strong></li>
	<li><span>Test number</span><strong>824096830318</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>04/12/2009</strong></li>
	Certificate issued (Pass)

	<li><span>Odometer reading</span><strong>180,007 Miles</strong></li>
	<li><span>Test number</span><strong>582668139389</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>03/12/2008</strong></li>
	Certificate issued (Pass)

	<li><span>Odometer reading</span><strong>178,128 Miles</strong></li>
	<li><span>Test number</span><strong>290288238325</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>03/12/2008</strong></li>
	Certificate issue refused (Fail)

	<li><span>Odometer reading</span><strong>178,128 Miles</strong></li>
	<li><span>Test number</span><strong>374148838381</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>03/12/2007</strong></li>
	Certificate issued (Pass)

	<li><span>Odometer reading</span><strong>176,480 Miles</strong></li>
	<li><span>Test number</span><strong>312417337328</strong></li>
	<li><span>Test expiry date</span><strong>02/12/2008</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>21/11/2007</strong></li>
	Certificate issue refused (Fail)

	<li><span>Odometer reading</span><strong>176,467 Miles</strong></li>
	<li><span>Test number</span><strong>733225027326</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>21/11/2007</strong></li>
	Certificate issue refused (Fail)

	<li><span>Odometer reading</span><strong>176,466 Miles</strong></li>
	<li><span>Test number</span><strong>343735327362</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>30/10/2006</strong></li>
	Certificate issued (Pass)

	<li><span>Odometer reading</span><strong>169,570 Miles</strong></li>
	<li><span>Test number</span><strong>512463006306</strong></li>
	<li><span>Test expiry date</span><strong>01/11/2007</strong></li>
</ul>


<ul class="ul-data">
	<li><span>Date of test</span><strong>02/11/2005</strong></li>
	Certificate issued (Pass)

	<li><span>Odometer reading</span><strong>157,422 Miles</strong></li>
	<li><span>Test number</span><strong>414246005332</strong></li>
	<li><span>Test expiry date</span><strong>01/11/2006</strong></li>
</ul>


  </body>
</html>

	
